.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  padding: 0vw; //navigation bar should be on top of the page each time
}

.content {
  margin-top: 20px;
  flex-grow: 1;
  padding:50px;
}
