@import 'variables';

.page {
  // push footer to bottom of viewport when content doesn't fill viewport
  height: 100vh;

  display: flex;
  flex-direction: column;

  //navigation bar should be on top of the page each time
  overflow-y: auto;
  padding: 0vw;
}

.content {
  flex-grow: 1;
  padding: 0px 100px 50px 100px;
}

@media (max-width: $extreme){
  .content{
    padding: 0 $phonePadding 70px $phonePadding;
  }
}