@import 'variables';

.container {
  position: absolute;

  width: 100%;
  height: 100%;

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background;
}
