@use 'src/assets/styles/variables' as *;


$outer-circle: 18px;
$inner-circle: 12px;

.circle {
  content: '';
  display: inline-block;
  position: absolute;
  border-radius: 50%;
}

.container {
  width: 100%;
}

.list {
  display: flex;
  gap: 1rem;

  margin-bottom: 1rem;
}

.item {
  display: flex;
  gap: 0.25rem;

  & > input:hover:enabled,
  label {
    cursor: pointer;
    user-select: none;
  }

  & > input:disabled ~ label {
    cursor: default;
    opacity: 0.7;
  }

  & > input[type='radio'] {
    opacity: 0;

    + label {
      position: relative;
      display: inline-block;

      // Exterior Circle
      &::before {
        @extend .circle;

        border: 1px solid $grey-lighter;
        left: -24px; // positions "fake" css radio over html radio

        width: $outer-circle;
        height: $outer-circle;
      }

      // Interior Circle
      &::after {
        @extend .circle;

        left: -20px; // positions "fake" css radio over html radio
        top: 4px;

        width: $inner-circle;
        height: $inner-circle;
      }
    }

    // Fills radio button while checked
    &:checked {
      + label::after {
        background: $primary;
      }
    }

    &:focus {
      + label::before {
        box-shadow: 0 0 8px $focus;
      }
    }
  }
}

.header {
  margin: 0;
  margin-bottom: 0.25rem;
}
