@import 'variables';

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left {
  width: 70%;
  border: 2px solid $primary;
  border-radius: 10px;
  height: fit-content;
  padding-bottom: 10px; // for 20px from content
}

.right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.scores {
  border: 2px solid $primary;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  margin-bottom: 15px; // for 30px btwn scores section and buttons
}

.section_header {
  color: #FFF;
  background-color: $primary;
  padding: 0 15px;
  
  // so header corners dont show
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  // adjust for 2px border
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom: 15px;
}

.feedback_header {
  @extend .section_header;
  display: flex;
  justify-content: space-between;
  gap: 20px; // so content does not mush together on smaller screen widths
}

.score_item {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 10px; // top l/r bottom
}

.feedback {
  padding: 0px 15px 10px;
  margin: 0;
}

.left > p {
  text-align: left;
  padding: 0px 15px;
}