@import 'variables';
.submissionsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    border: 1px solid $text-color;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color:$primary;
    font-weight: bold;
  }
}