@import 'variables';

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}

.section_header {
  color: #FFF;
  background-color: $primary;
}

.feedback_header {
  @extend .section_header;
  display: flex;
  justify-content: space-between;
  gap: 20px; // so content does not mush together on smaller screen widths
}