version: '3.8'
services:
  db:
    # Runs the PostgreSQL database
    image: postgres
    environment:
      POSTGRES_DB: typescript_api
      POSTGRES_USER: typescript_user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    expose:
      - '5432'
  config:
    #     Generates a config file for the API
    build:
      context: devU-api/scripts
    command: "./generateConfig.sh config/default.yml"
    image: ubautograding/devtools
    volumes:
      - ./devU-api/config:/config
  api:
    # Runs the API
    build:
      context: .
      dockerfile: api.Dockerfile
    environment:
      TANGO_KEY: test # todo load in from env file. for now this is default key in tango.config.py
      WAIT_HOSTS: db:5432
      dev: 0 # value here is irrelevant; just here to make sure dev env exists
    depends_on:
      db:
        condition: service_started
      config:
        condition: service_completed_successfully
    ports:
      - '3001:3001'
  client:
    # Builds the front end and exports static files to ./dist
    build:
      dockerfile: client.Dockerfile
      context: .
    volumes:
      - ./dist:/out
  nginx:
    # Hosts the front end static files from ./dist/local thorough a web server
    build:
      context: .
      dockerfile: nginx.Dockerfile
    volumes:
      - ./dist/local:/usr/share/nginx/html
    ports:
      - '9000:80'
  minio:
    image: minio/minio
    #    ports:
    #      - '9002:9000'
    #      - '9001:9001'
    expose:
      - '9000'
    #    volumes:
    #      - /tmp/data:/data
    environment:
      MINIO_ROOT_USER: typescript_user
      MINIO_ROOT_PASSWORD: changeMe
    command: server /data --console-address ":9001"
  # tango stuff
  redis:
    container_name: redis
    image: redis:latest
    ports:
      - '127.0.0.1:6379:6379'
    deploy:
      replicas: 1
    restart: unless-stopped
  tango:
    # todo envs and volumes also docker sockets
    container_name: tango
    ports:
      - '127.0.0.1:3000:3000'
    build:
      context: ./Tango
    environment:
      - DOCKER_REDIS_HOSTNAME=redis
    depends_on:
      - redis
    volumes:
      - ./tango.config.py:/opt/TangoService/Tango/config.py
    restart: unless-stopped
