@import 'variables';

.footer {
  background-color: $primary;
  color: #fff;
  text-align: left;
  margin-top: auto;
  font-size: 14px;
  font-size: 16px;
  padding: 10px $pagePadding;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 84px;


  nav {
    display: flex;
    gap: 15px;
    justify-content: flex-start; /* Ensure it aligns left */
    align-items: center;

    a {
      color: #fff;
      text-decoration: none;
      margin: 0 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
