@import 'variables';

$bar-height: 60px;
$sidebar-width: 260px;
$hover-effect: 0.7;
$font-size: 16px;

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.link {
  @extend .flex;

  text-decoration: none;
  color: #FFF;
  font-size: $font-size;
  font-weight: 500;

  &:hover {
    opacity: $hover-effect;
  }
}

.header {
  font-size: 32px;
  text-decoration: none;
  color: #FFF;
  font-weight: 700;
  height: 51px; // Centers text in navbar
}

.bar {
  height: $bar-height;
  background-color: $primary;
  font-size: 40px;
  color: #D9D9D9;
  font-weight: 550;
  padding: 0 $pagePadding;

  @extend .flex;
  justify-content: space-between;
}

.controls,
.sidebar,
.menu {
  @extend .flex;
}

.hamburger {
  visibility: hidden;
}

// Controls turning the menu options into a sidebar
// As well as whether or not that sidebar is being shown
@media (max-width: 500px) {
  .flex {
    gap: 1rem;
   
  }

  .menu {
    flex-direction: column;

    position: fixed;
    height: 100%;
    width: $sidebar-width;

    background: $text-color;

    top: 0;
    left: -$sidebar-width;

    z-index: 1;

    transition: 0.2s;
  }

  .hamburger {
    visibility: visible;

    background: transparent;
    border: none;

    color: $yellow;
    font-size: $font-size;

    &:hover {
      cursor: pointer;
      opacity: $hover-effect;
    }
  }

  .sidebar:focus-within {
    .menu {
      left: 0;
    }
  }
}

@media (max-width: 300px) {
  .flex {
    gap: 0.3rem;
    
  }
}
