.userPageLayout {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.userFormSection {
  flex: 1;
  min-width: 300px;
}

.dropCoursesSection {
  flex: 1;
  max-width: 500px;
  max-height: 300px;
  background: #f4f4f4;
  padding: 2.7rem;
  border-radius: 8px;
  overflow-y: auto;

  h2 {
    margin-bottom: 1rem;
  }

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 3px;
  }
}

.courseList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.courseItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #ddd;
  color: #222;
  font-size: 1rem;
}

.courseTitle {
  flex: 1;
  word-break: break-word;
}

.trashIcon {
  cursor: pointer;
  font-size: 1.2rem;

  &:hover {
    color: red;
  }
}
