@import 'variables';


.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  //padding: 0 10px;
  min-width: 100px;


  outline: none;

  &:focus-within {
    .menu {
      visibility: visible;
      opacity: 1;
    }
  }
}

.button {
  border: none;

  font-size: 16px;
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

.trigger {
  @extend .button;

  color: #fff;
  height: 60px;
  margin: 0;
  padding: 0 10px;

  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--hover-darker);
  }
}

.name {
  cursor: pointer;
  color:#fff;
}

.userIcon {
  font-size: 14px;
  cursor: pointer;
}

.caret {
  margin-left: 5px;
  color:#fff;
}

.menu {
  min-width: 97%;
  width: inherit;
  position: absolute;
  top: 60px;

  display: flex;
  flex-direction: column;
  border: 3px solid $primary;
  border-top: none;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;


  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s ease-in-out;

  z-index: 1;
}

.option {
  @extend .button;

  display: flex;
  align-items: center;
  padding: 0 10px;

  background-color: $background;
  color: $text-color;

  height: 50px;
  text-align: left;
  border-bottom: 1px solid #ddd;

  text-decoration: none;
  transition: background-color 0.2s ease;

  &:hover {
      background-color: var(--hover-darker);
  }
  
}

// .dropCourse {
//   @extend .option;
//   background-color: $primary; /* Same as Account and Logout */
//   color: $background; /* Matching the text color */
//   border: none;
//   font-size: 16px;
//   height: 50px;
//   text-align: left;
//   text-decoration: none;

//   &:hover {
//     background: $purple-darker;
//   }
// }

@media (max-width: $small) {
  .name {
    display: none;
  }

  .menu {
    width: 120px !important;
    right: -10px;
  }
}

@media (min-width: $small) {
  .userIcon {
    display: none;
  }
}

