@use 'src/assets/styles/variables' as *;


.scoreboardTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;

  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: rebeccapurple;


  }
  .scoreboardContainer {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 5px;
  }
}