@import 'variables';

.header {
  // not necessary since header styling is now global
  color: $text-color;
  display: flex;
  align-items: center;
}

.categoryName {
    color: $text-color;
    font-size: 1.25rem;
}

.assignmentName {
    color: $text-color
}

.smallLine {
  width: 50px; /* adjust this value to set the length of the small line */
  border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
  margin-right: 10px; /* adjust this value to set the space between the line and the text */
}

.largeLine {
  flex-grow: 1;
  border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
  margin-left: 10px; /* adjust this value to set the space between the line and the text */
  margin-right: 10px; /* add this line to create some space between the line and the button */
}

.tableWrapper {
  padding: 0 100px;
}

table {
  border-radius: 20px;
  margin: 15px auto;
  border-collapse: collapse;
}

tr.evenRow {
  background-color: $table-row-even;
}

tr.oddRow {
  background-color: $table-row-odd;
}

th {
  background-color: $primary;
  color: #FFF;
  font-weight: 600;
}

td, th {
  padding: 10px;
  text-align: center;
}