@import 'variables';


.problem_header{
    font-size:16px;
    margin: 0 0 10px 0;
}

.problem{
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}


.textField{
    align-items: center;
    font-family: $font-family;
    font-size: 16px;
    background: none;
    border: 2px solid #ccc;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    min-height: 50px;
    padding: 10px
}