@use 'src/assets/styles/variables' as *;


.course {
  font-size: 1.25rem;

  margin-bottom: 0.5rem;
}

.assignment {
  font-size: 1.125rem;

  margin-bottom: 1rem;
}

.meta {
  display: flex;
  gap: 1rem;
}

@media (max-width: $medium) {
  .meta {
    flex-direction: column;
  }
}
