@import 'variables';



.errorBackground {
    width: 100%;
    height: 100%;
    background-color: $background;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .errorBar {
    width: 100%;
    background-color: $secondary-lighter;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .errorContainer {
    padding: 30px;
    text-align: center;
  }
  
  .error {
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    color: $text-color;
  }
  
  .errorMessage {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
    color: $text-color-secondary;
  }