@import 'variables';


h2 {
  text-align: center;
}

p {
  text-align: center;
}

.form {
    background-color: $list-item-background;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 10px;
    padding: 20px;
    margin-left: auto; 
    margin-right: 0; 
  }

  .datepickerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px; 
    width: 100%;
  }

.header {
    color: $text-color;
    display: flex;
    align-items: center;
}

.datepicker_start {
  grid-area: 1 / 1 / 2 / 2;
}
.datepicker_due {
  grid-area: 1 / 2 / 2 / 3;
}
.datepicker_end {
  grid-area: 1 / 3 / 2 / 4;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
  width: 100%;
}

.dragDropFile {
  grid-area: 1 / 2 / 2 / 3;
  padding: 20px;
  background-color: $list-item-background;
  border-radius: 10px;
  margin-left: 0; 
  margin-right: auto;
}

.textField1 {
  width: 50%;
  margin-right: 5%;
  flex-shrink: 0;
  flex-direction: none;
}

.textField2 {
  width: 50%;
  flex-shrink: 0;
  flex-direction: none;
}

.textFieldContainer {
  display:flex;
  width: 100%;
}

.textArea {
  width: 100%;
  flex-direction: none;
}

.fileNameContainer {
  width: 400px;
}

.fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
