@import 'variables';

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
}
.pageHeader{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
.backToCourse{
    margin-left: auto;
}

// .assignmentsList {grid-area: 1 / 1 / 3 / 2;}
// .problemsList {grid-area: 1 / 3 / 2 / 4;}
// .attachments {grid-area: 2 / 2 / 3 / 4;}

.form {
    width: 80%;
    height: fit-content;
}


.textFieldContainer {
    display:flex;
    flex-direction: column;
    font-size: 16px;
    gap:10px;
    margin-bottom: 10px;
}

.textField {
    align-items: center;
    margin-bottom: 0;
    background: none;
    border: 2px solid #ccc;
}

.textFieldHeader{
    margin: 5px 0;
}

.submissionsContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;    
    font-size: 16px;
    gap:10px;
    margin-bottom: 10px;
}

.datepickerContainer {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
    text-align: left;
    margin-bottom: 15px;
    .datepicker_start {grid-area: 1 / 1 / 2 / 2;}
    .datepicker_due {grid-area: 1 / 2 / 2 / 3;}
    .datepicker_end {grid-area: 1 / 3 / 2 / 4;}
}


input[type='datetime-local'] {
    color: $input-field-label;
    border: 2px solid #ccc;
    padding: 10px;
    max-width: 1/3;
    border-radius: 8px;
    background: none;
}

.problemsList {
    display:flex;
    flex-direction: column;
    align-items: left;
    gap:10px;
    margin-bottom: 10px;
}
.filesList{
    display: flex;
    margin: 10px 0;
}
.problemName{
    margin: 0 0 10px 0;
}
// .assignment {
//     padding: 10px;
//     font-weight: bold;
//     cursor: pointer;
//     :hover {
//         padding: 10px;
//         background-color: $list-item-background-hover;
//         border-radius: 10px;
//     }
// }


.assignmentBtn {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.assignmentBtn:hover {
    background-color: $list-item-background-hover;
    border-radius: 10px;
}

.problem{
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content:center;
}


.header {
    text-align: left;
    margin: 5px 0;
    color: $text-color;
}

.editProblem {
    margin-right: 5px;
    color: #075D92;
    padding: 0;
    background: none;
    text-decoration: underline;
}

.deleteButton {
    margin-left: 5px;
    color: $red;
    padding: 0;
    background: none;
    text-decoration: underline;

}

.buttonContainer{
    display: flex;
    gap: 20px;
}

.fileUpload{
    text-transform: none;
    border: 3px solid var(--primary);
    background-color: var(--primary);
    border-radius: 100px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    padding: 5px 15px;
    font-style: normal;
    max-width: fit-content;
    transition: all 0.2s ease;
}
.fileUpload:hover{
    border: 3px solid var(--hover-darker);
    background-color: var(--hover-darker)
}


@media (max-width:1000px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        width: 100%;
        }

    .form {
        width: 100%;
    }

}

@media (max-width:450px) {
    .datepickerContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;    
        }
        
        .datepicker_start { grid-area: 1 / 1 / 2 / 2; }
        .datepicker_due { grid-area: 2 / 1 / 3 / 2; }
        .datepicker_end { grid-area: 3 / 1 / 4 / 2; } 
}