@import 'variables';


h2 {
  text-align: center;
}

p {
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
    background-color: $list-item-background;
    grid-area: 1 / 1 / 2 / 2;
    border-radius: 10px;
    padding: 20px;
    margin-right: 0; 
  }

  .datepickerContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px; 
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.header {
    color: $text-color;
    display: flex;
    align-items: center;
}

.datepicker_start {
  grid-area: 1 / 1 / 2 / 2;
}
.datepicker_due {
  grid-area: 1 / 2 / 2 / 3;
}
.datepicker_end {
  grid-area: 1 / 3 / 2 / 4;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.dragDropFile {
  grid-area: 1 / 2 / 2 / 3;
  padding: 20px;
  background-color: $list-item-background;
  border-radius: 10px;
  margin-left: 0; 
}

.dragDropFileComponent {
  margin-top: 10%;
}

.textField1 {
  width: 50%;
  margin-right: 5%;
  flex-shrink: 0;
  flex-direction: none;
}

.textField2 {
  width: 50%;
  flex-shrink: 0;
  flex-direction: none;
}

.textFieldContainer {
  display:flex;
  width: 100%;
}

.textArea {
  width: 100%;
  flex-direction: none;
}

.fileNameContainer {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.fileName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileRemovalButton {
  background: none;
  border: none;
  color: $text-color;
  cursor: pointer;
  font-size: 0.9em;

  
  &:hover {
    text-decoration: dashed;
    color: red;
  }
}

@media (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
  }

  .form {
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10px;
    margin-right: 10px;
  }
  .dragDropFile {
    grid-area: 2 / 1 / 3 / 2;
    align-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .dragDropFileInput {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 550px) {
  .datepickerContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px; 
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;  
  }

  .datepicker_start {
    grid-area: 1 / 1 / 2 / 2;
  }
  .datepicker_due {
    grid-area: 2 / 1 / 3 / 2;
  }
  .datepicker_end {
    grid-area: 3 / 1 / 4 / 2;
  }
}