@import 'variables';


h2 {
  text-align: center;
}

p {
  text-align: center;
}

.form {
    background-color: $list-item-background;
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 10px;
    padding: 20px;
    // width: 50%;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
  }

  .datepickerContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

.header {
    color: $text-color;
    display: flex;
    align-items: center;
}

.smallLine {
    width: 50px; /* adjust this value to set the length of the small line */
    border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
    margin-right: 10px; /* adjust this value to set the space between the line and the text */
}

.largeLine {
    flex-grow: 1;
    border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
    margin-left: 10px; /* adjust this value to set the space between the line and the text */
    margin-right: 10px; /* add this line to create some space between the line and the button */
}

.datepicker {
  font: inherit;
  letter-spacing: inherit;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  -webkit-tap-highlight-color: transparent;
  width: 85%;
  animation-duration: 10ms;
  padding: 16.5px 14px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.75fr;
  grid-template-rows: 1fr;   
  grid-column-gap: 10px;
  grid-row-gap: 10px; 
}

.dragDropFile {
  grid-area: 1 / 3 / 2 / 4;
  padding: 20px;
  background-color: $list-item-background;
  border-radius: 10px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.assignmentDropdown {
  grid-area: 1 / 1 / 2 / 2;
}

.formButtons {
  grid-area: 2 / 1 / 3 / 4;
  background-color: $list-item-background;
}