@import 'variables';

.header {
    display: flex;
    align-items: center;
}

.smallLine {
    width: 50px; /* adjust this value to set the length of the small line */
	border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
    margin-right: 10px; /* adjust this value to set the space between the line and the text */
}

.largeLine {
    flex-grow: 1;
	border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
    margin-left: 10px; /* adjust this value to set the space between the line and the text */
    margin-right: 10px; /* add this line to create some space between the line and the button */
}

.buttons {
	margin : 0 10px;
}

.card {
	width: 60%;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.accordion {
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.accordionDetails {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.textField {
	align-items: center;
	justify-content: center;
}

.submissionCard {
	margin-bottom : 15px;
}

.fileInput {
	margin-top: 10px;
	margin-bottom: 10px;
}
