@import 'variables';

.coursesContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* adjust this value to set the space between the cards */
}

.header {
    display: flex;
    align-items: center;
}

.smallLine {
    width: 50px; /* adjust this value to set the length of the small line */
    border-top: 3px solid white; /* adjust this value to set the color and thickness of the line */
    margin-right: 10px; /* adjust this value to set the space between the line and the text */
}

.largeLine {
    flex-grow: 1;
    border-top: 3px solid white; /* adjust this value to set the color and thickness of the line */
    margin-left: 10px; /* adjust this value to set the space between the line and the text */
    margin-right: 10px; /* add this line to create some space between the line and the button */
}