@import 'variables';

.filters {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;
}

.dropdown {
  width: 300px;
}

@media (max-width: 700px) {
  .dropdown {
    width: 100%;
  }
}

.header {
  color: $text-color;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .header {
    display: block;
  }
}

.myCourses {
  font-size: 3rem;
  margin: 0 2rem;
  font-weight: 300;
  color: $list-item-subtext;
  white-space: nowrap;
}

@media (max-width: 700px) {
  .myCourses {
    margin-bottom: 2rem;
    margin-left: 0;
  }
}