@import 'variables';


.addCourseBtn {
  justify-content: center;
	background-color: $primary;
	color: $text-color;
	border: 0px;
	padding: 10px 40px;
	border-radius: 50px;
	font-size: 14px;
	font-weight: 700;
  text-decoration: none;
	cursor: pointer;
}

.courseName {
  color: $text-color;
  text-decoration: none;
  font-size: 14px;
}

.filters {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;
}

.dropdown {
  width: 300px;
}

.header {
  color: $text-color;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .dropdown {
    width: 100%;
  }

  .header {
    display: block;
  }
}
