@import 'variables';

.filters {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;

  gap: 0.25rem;
}

.dropdown {
  width: 200px;
}

.header {
  color: $text-color;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .dropdown {
    width: 100%;
  }

  .header {
    display: block;
  }

  .filters {
    flex-direction: column;
  }
}
