@import 'variables';

.filters {
  display: flex;
  justify-content: flex-end;

  margin-bottom: 1rem;

  gap: 0.25rem;
}

.dropdown {
  width: 200px;
}

.header {
  color: $text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 700px) {
  .dropdown {
    width: 100%;
  }

  .header {
    display: block;
  }

  .filters {
    flex-direction: column;
  }
}

.smallLine {
  width: 50px; /* adjust this value to set the length of the small line */
  border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
  margin-right: 10px; /* adjust this value to set the space between the line and the text */
}

.largeLine {
  flex-grow: 1;
  border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
  margin-left: 10px; /* adjust this value to set the space between the line and the text */
  margin-right: 10px; /* add this line to create some space between the line and the button */
}