@import 'variables';

:global {
  // Libraries
  // Import css libraries here as needed
  @import '~react-toggle/style';

  html,
  body,
  #main {
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-size-adjust: 100%;

    background-color: var(--background);
    color: var(--text-color);

    --background: white;
    --text-color: black;
    --text-color-secondary: #363636;
    --focus: #38c172;

    --primary-lighter: #41a8f7;
    --primary: #0984e3;
    --primary-darker: #054272;
    --secondary-lighter: #cfd1d1;
    --secondary: #a8abab;
    --secondary-darker: #686b6b;

    --list-item-background: #f5f5f5;
    --list-item-background-hover: #e9e9e9;
    --list-item-subtext: #4b4b4b;

    transition: background-color 150ms linear;
  }

  body.dark-mode {
    --background: #1b1f20;
    --text-color: white;
    --text-color-secondary: #9b9b9b;

    --primary-lighter: #3796bc;
    --primary: #266781;
    --primary-darker: #133441;
    --secondary-lighter: #636666;
    --secondary: #3d3f3f;
    --secondary-darker: #1f2020;

    --list-item-background: #3b3b3b;
    --list-item-background-hover: #303030;
    --list-item-subtext: #e0e0e0;

    background-color: var(--background);
    color: var(--text-color);
  }

  *:focus {
    outline-color: var(--focus);
  }
}
