// These vars are defined and pulled from global.scss
// scss by definition cannot be dynamic and therefor the dynamic vars need to
// be controlled via css

// Defining them in CSS also allows us to read the variables in JS as well as CSS and SCSS

// Theme colors
$background: var(--background);
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);

$primary-lighter: var(--primary-lighter);
$primary: var(--primary);
$primary-darker: var(--primary-darker);

$secondary-lighter: var(--secondary-lighter);
$secondary: var(--secondary);
$secondary-darker: var(--secondary-darker);

$list-item-background: var(--list-item-background);
$list-item-background-hover: var(--list-item-background-hover);
$list-item-subtext: var(--list-item-subtext); 

$list-simple-item-background: var(--list-simple-item-background);
$list-simple-item-background-hover: var(--list-simple-item-background-hover);
$list-simple-item-subtext: var(--list-item-subtext);

$focus: var(--focus);

// These variables WILL NOT update with dark vs light theme
$grey-lightest: var(--grey-lightest);
$grey-lighter: var(--grey-lighter);
$grey: var(--grey);

$blue-lighter: var(--blue-lighter);
$blue: var(--blue);

$red-lighter: var(--red-lighter);
$red: var(--red);

$purple-lighter: var(--purple-lighter);
$purple: var(--purple);

$green-lighter: var(--green-lighter);
$green: var(--green);

$yellow-lighter: var(--yellow-lighter);
$yellow: var(--yellow);

// Non color CSS variables
$border-radius: 3px;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$medium: 1000px;
$small: 600px;
$extreme: 780px;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
