// These vars are defined and pulled from global.scss
// scss by definition cannot be dynamic and therefor the dynamic vars need to
// be controlled via css

// Defining them in CSS also allows us to read the variables in JS as well as CSS and SCSS

// Theme colors
$background: var(--background);
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);

$primary: var(--primary);

$secondary-lighter: var(--secondary-lighter);
$secondary: var(--secondary);
$secondary-darker: var(--secondary-darker);

$list-item-background: var(--list-item-background);
$list-item-background-hover: var(--list-item-background-hover);
$list-item-subtext: var(--list-item-subtext);

$list-simple-item-background: var(--list-simple-item-background);
$list-simple-item-background-hover: var(--list-simple-item-background-hover);
$list-simple-item-subtext: var(--list-item-subtext);

$input-field-background: var(--input-field-background);
$input-field-label: var(--input-field-label);

$table-row-even: var(--table-row-even);
$table-row-odd: var(--table-row-odd);

$focus: var(--focus);


// These variables WILL NOT update with dark vs light theme
$grey-lightest: var(--grey-lightest);
$grey-lighter: var(--grey-lighter);
$grey: var(--grey);

$blue-lighter: var(--blue-lighter);
$blue: var(--blue);
$link-blue: var(--link-blue);

$red-lighter: var(--red-lighter);
$red: var(--red);

$brown-lighter: var(--brown-lighter);

$purple-lighter: var(--purple-lighter);
$purple: var(--purple);
$purple-darker: var(--purple-darker);

$green-lighter: var(--green-lighter);
$green: var(--green);

$yellow-dark: var(--yellow-dark);
$yellow: var(--yellow);

$redText: var(--red-text);
$yellowText: var(--yellow-text);

$maroon: var(--maroon);
$cyan: var(--cyan);


// Text Input Colors
$input-border: var(--input-border);
$input-field-background: var(--input-field-background);
$text-color-secondary: var(--text-color-secondary);

// Error Colors
$error-text: var(--error-text);
$error-background: var(--error-background);
$error-page-background: var(--error-page-background);



// Non color CSS variables

$border-radius: 3px;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$medium: 1000px;
$small: 600px;
$extreme: 780px;

$pagePadding: 100px;
$phonePadding: 50px;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
