// These vars are defined and pulled from global.scss
// scss by definition cannot be dynamic and therefor the dynamic vars need to
// be controlled via css
$background: var(--background);
$text-color: var(--text-color);
$text-color-secondary: var(--text-color-secondary);

$primary-lighter: var(--primary-lighter);
$primary: var(--primary);
$primary-darker: var(--primary-darker);

$secondary-lighter: var(--secondary-lighter);
$secondary: var(--secondary);
$secondary-darker: var(--secondary-darker);

$list-item-background: var(--list-item-background);
$list-item-background-hover: var(--list-item-background-hover);
$list-item-subtext: var(--list-item-subtext);

$focus: var(--focus);

// These variables WILL NOT update with dark vs light theme
$grey-lightest: #dfe6e9;
$grey-lighter: #b2bec3;
$grey: #636e72;

$blue-lighter: #74b9ff;
$blue: #0984e3;

$red-lighter: #ff7675;
$red: #d63031;

$purple-lighter: #a29bfe;
$purple: #6c5ce7;

$green-lighter: #55efc4;
$green: #00b894;

$yellow-lighter: #ffeaa7;
$yellow: #fdcb6e;

$border-radius: 3px;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

$medium: 1000px;
$small: 600px;
$extreme: 320px;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
