@import 'variables';


h2 {
    align-items:left;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 30px;
}

h3 {
    align-items:left;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 30px;
    
}

.coursesContainer {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    margin:20px;
}
.courseCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    padding: 0; 
    background-color: #D9D9D9;
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    margin-bottom: 20px;
  }
.create_course {
    border:0; /* Primary button color */
    color: #52468a;
    padding: 10px 20px; 
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin:20px
}
.header {
    color: $text-color;
    display: block;
    align-items: center;  
}

h3::after {
    content: '';
    display: block;
    margin-top: 10px; 
    width: 100%;
    height: 1px; 
    font-weight: 600;
    background-color: $text-color; 
  }

@media (max-width: 768px) {
    .coursesContainer {
        flex-direction: column; 
        align-items: center; 
    }

    .courseCard {
        width: 100%; 
        max-width: none; 
    }
}

// .smallLine {
//     width: 50px; /* adjust this value to set the length of the small line */
//     border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
//     margin-right: 10px; /* adjust this value to set the space between the line and the text */
// }

// .largeLine {
//     flex-grow: 1;
//     border-top: 3px solid $text-color; /* adjust this value to set the color and thickness of the line */
//     margin-left: 10px; /* adjust this value to set the space between the line and the text */
//     margin-right: 10px; /* add this line to create some space between the line and the button */
// }